.about {
   
    text-align: center;
    padding: 5%;
    background: linear-gradient(90deg, #dbeafe 60%, #60a5fa 100%);
    border-radius: 12px;
     margin-bottom: 8px;
      box-shadow: 1px 1px 10px rgb(88, 141, 240);
}

.about p {
    color: #4e35f0;
   
    border-radius: 13px;
    margin: 3px;
    background-color: transparent;
    border-radius: 12px;
   
}

.about h1 {
    font-family: Arial, Helvetica, sans-serif;
    background: transparent
    
}

.about-area {
    display: flex;
    justify-content: space-around;
   
    text-align: left;
    align-items: center; /* Vertically align items */
 
    border-radius: 12px;
    
}

.about-left {
    font-weight: 400;
     box-shadow: 2px 4px 16px rgba(22, 163, 74, 0.15);
    width: 50%;
    background: transparent;
    border-radius: 12px;
    padding: 4px;
}

.about-left p {
    box-shadow: 2px 4px 16px rgba(22, 163, 74, 0.15);
    color: black;
    font-weight: 400;
    padding:4px;
}

.about-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Ensure the container has a height */
}

.about-right img {
    height: 100%;
    max-width: 100%; /* Make sure the image is responsive */
    object-fit: contain; /* Keeps aspect ratio */
}

.btns {
    background-color:transparent;
    text-align: left;
}


#contact-btn{
    background-color: #1fa1ed;
    border: 1px solid #4e35f0;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;
    margin-right: 10px;

}
#recycle-btn{
    background-color:#1fa1ed;
    color: #1fa1ed;
    text-decoration: none;
    border: 1px solid #4e35f0;
    padding: 10px 20px;
    border-radius: 3px;
}
#contact-btn:hover{
    background-color: white;
    color: #1fa1ed;
    border: 1px solid #4e35f0;
}
#recycle-btn:hover{
    background-color: #1fa1ed;
    color: white;
    border: 1px solid white;
}
@media screen and (max-width: 768px) {
    .about-area {
        flex-direction: column;
        align-items: center;
    }
    .about-left, .about-right {
        width: 100%;
    }
    .about-right img {
        max-width: 90%; /* Adjust image size on smaller screens */
    }
}